.header{

  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.form_container{
  display: flex;
  height: 100vh;
  width: 50vw;
  background-color: wheat;
  justify-content: center;
  align-items: center;
}

.answer_form{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.answer_grid{
  display: flex;
  flex-direction: column;
  width: 30%;
  overflow: auto;
  gap: 2rem;
  text-align: left;
  background-color: burlywood;
}

.answer{
  text-align: left;
}

.question{
  margin: 0;
}